/*--variables--*/
:root {
  /*color header*/
  --clr-header: lightblue;
  /* color background */
  --clr-bg: rgb(234, 236, 235);
  /*color side-bar*/
  --clr-small-box: #324596;
  --clr-small-box-hover: #0b5ed7;
  --clr-border-gray: #d2d2d2;
  /*color cards*/
  --purple-color: #6f42c1;
  --gradient-color: linear-gradient(-10deg, rgb(45, 98, 150) 25%, rgb(48, 70, 151));
}

/*--box sizing--*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*--body--*/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "roboto";
  background-color: var(--clr-bg)
  /*height: 100vh;*/
  /*overflow: auto;*/
}

.big-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cuentas {
  display: flex;
  width: 100%;
}

.panel {
  height: 25rem;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--clr-small-box);
  cursor: pointer;
  flex: 1;
  margin: 0.5rem;
  position: relative;
  transition: flex 600ms ease-in-out 200ms;
  -webkit-transition: all 600ms ease-in;
}

.panel .label {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  opacity: 1;
}

.panel p {
  position: absolute;
  left: -50vw;
  opacity: 0;
  z-index: -1;
}

.panel h3 {
  position: absolute;
  left: -50vw;
  opacity: 0;
  z-index: -1;
}

.panel.active {
  background-color: var(--clr-small-box-hover);
  transition: background-color 600ms ease-in 200ms;
  margin: 0.5rem;
  flex: 5;
  transition: flex 600ms ease-in-out 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel.active .label {
  position: absolute;
  opacity: 0;
}
.panel.active p {
  position: relative;
  opacity: 1;
  transition: opacity 200ms ease-in 600ms;
  left: 0;
  z-index: 1;
}
.panel.active h3 {
  position: relative;
  opacity: 1;
  transition: opacity 200ms ease-in 600ms;
  left: 0;
  z-index: 1;
}

.titulo, .nro-cuenta, .saldo, .moneda, .monto {
  text-align: start;
  font-size: 2rem;
  margin: 1rem 2rem;
}

.analizador-gastos{
  text-align: center;
}
.analizador-gastos img {
  height: 25rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

/*--header--*/
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--gradient-color);
  align-items: center;
  height: 5rem;
}

.logo {
  width: 15rem;
  margin-left: 2.5rem;
  text-align: left;
  align-items: center;
  /*padding: 1.5rem 0;*/
}

.logo img {
  max-width: 100%;
}

/*--footer--*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-color);
  padding: 0;
  margin: 0;
}

.social-networks {
  margin: 0;
  padding: 0;
}

.social-networks ul {
  list-style: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

.social-networks ul li i {
  font-size: 2.2rem;
  margin: 1rem;
}
.social-networks ul li i:hover {
  cursor: pointer;
}
.rights {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 0 0.7rem;
}

/*---------------*/
/*--mobile view--*/
/*---------------*/

/*--hamburger menu--*/

.hamburger-menu {
  text-align: right;
  padding: 0.5rem 2rem;
  font-size: 3rem;
  color: white;
}

.hamburger-menu :hover {
  cursor: pointer;
}

/*--layout--*/

.main-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  /* background-color: ; */
}

/*--menu mobile--*/

.hidden {
  display: none;
}

.left-bar {
  position: relative;
  background-color: white;
  width: 100%;
  /* height: 100vh; */
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

.box-white {
  border: 0.1rem solid var(--clr-border-gray);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 0.7rem;
}

a{
  text-decoration: none;
  color: white;
}

a:active{
  color:white;
}

.colored {
  display: grid;
  grid-template-columns: 20% 1fr;
  text-align: center;
  align-items: center;
  border: none;
  background-color: var(--clr-small-box);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
}

.colored:hover {
  cursor: pointer;
  background-color: var(--clr-small-box-hover);
}

.colored { 
  display: grid;
  grid-template-columns: 20% 1fr;
  text-align: center;
  align-items: center;
  border: none;
  background-color: var(--clr-small-box);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
}

.colored:active {
  background-color: var(--clr-small-box-hover);
}

.icon {
  font-size: 2.5rem;
}

/*--cards--*/

.section-grid {
  display: grid;
  gap: 1rem;
  width: 85%;
}

.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.2rem solid var(--clr-small-box); */
  border: 0.2rem;
  border-radius: 0.7rem;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 1fr;
}

.floating-card {
    justify-self: center;
    width: 25rem;
    height: 15rem;
    border-radius: 2rem;
    /* background-color: red; */
    z-index: 1;
    grid-column: 1;
    grid-row: 1 / 3;
    box-shadow: 0.5rem 0.5rem 1rem rgb(172, 173, 172), -0.5rem 0.5rem 1rem rgb(172, 173, 172);

    background: #bab3b3;
    background: -webkit-linear-gradient(120deg, #bab3b3 0%, #566054 100%);
    background: linear-gradient(120deg, #bab3b3 0%, #566054 100%);

}

.balls {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: red;
}

.balls::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: orange;
    margin: 0 0 0 2rem;
}

.under-card {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12rem 12rem;
    align-content: end;
    width: 30rem;
    height: 35rem;
    border-radius: 2rem;
    background-color: white;
    grid-column: 1;
    grid-row: 2 / 4;
}

.grey-text {
    color: grey;
}

.balance {
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 0 0 0 2rem;
}

.balance span {
    font-size: 3rem;
}

.received, .spent {
    width: 100%;
    text-align: center;
}

.received span, .spent span {
    font-weight: bold;
}

.bar {
    width: 10rem;
    height: 1rem;
    background-color: var(--clr-bg);
    margin: 0 auto;
    border-radius: 5rem;
}

.blue-bar::before{
    content: '';
    display: block;
    width: 7.5rem;
    height: 1rem;
    background: #7a3596;
    background: -webkit-linear-gradient(93deg, #7a3596 0%, #0016ff 100%);
    background: linear-gradient(93deg, #7a3596 0%, #0016ff 100%);
    border-radius: 5rem;
}

.red-bar::before{
    content: '';
    display: block;
    width: 5rem;
    height: 1rem;
    background: #db8521;
    background: -webkit-linear-gradient(93deg, #db8521 0%, #f01010 100%);
    background: linear-gradient(93deg, #db8521 0%, #f01010 100%);
    border-radius: 5rem;
}

.personal-info {
    background-color: white;
    border-radius: 1rem;
}

.user-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gradient-color);
    padding: 2rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.user-display p {
    font-size: 2rem;
}

.profile-picture {
    width: 7rem;
    height: 7rem;
    border: 0.2rem solid black;
    border-radius: 50%;
}

.user-picture {
    max-width: 100%;
}

.user-data, .account-info {
    padding: 2rem 1rem;
}

.p-title {
    font-size: 1.7rem;
    font-weight: 700;
}


/* .analizador-gastos img { */
/*   max-width: 100%; */
/*   margin: 0; */
/* } */

.small-card {
  display: grid;
  grid-template-columns: 33% 1fr;
  justify-content: center;
  border: 0.2rem solid var(--clr-small-box);
  border-radius: 0.7rem;
  align-items: center;
  background-color: white;
}

.small-card:hover {
  cursor: pointer;
}

.card-content {
  color: #212529;
}

.card-content h2 {
  font-size: 2rem;
}

.card-content h2,
.card-content p {
  margin: 1rem 0 1rem;
}

.icon-cards {
  font-size: 5.3rem;
  color: var(--clr-small-box);
  text-align: center;
}

/*--cotizaciones--*/

.cotizaciones {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 85%;
}

.head-cotizaciones {
  background: var(--gradient-color);
  text-align: center;
  width: 100%;
  padding: 2rem;
  color: white;
  border-radius: 0.5rem;
}

.dolar-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  box-shadow: 0 0 7px 1px grey;
  border-top: 2px solid blue;
  background-color: white;
}

.dolar-nombre {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 1rem;
}

.dolar-compra span, .dolar-venta span {
  font-size: 2.2rem;
}


/*----------------*/
/*--desktop view--*/
/*----------------*/

@media screen and (min-width: 60rem) {
  /*--hamburger-menu--*/
  .hamburger-menu {
    display: none;
  }

  /*----------*/
  /*--layout--*/
  /*----------*/

  .main-grid {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 2rem;
    padding: 2rem;
    align-items: start;
    margin: 0;
  }

  .section-grid {
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    height: 95%;
  }

  /*section-grid cards*/

  .big-card {
    grid-column: 1 / 4;
  }

  /*cards*/

  .small-card {
    display: grid;
    grid-template-columns: 27% 1fr;
    justify-content: center;
    border: 0.2rem solid var(--clr-small-box);
    border-radius: 0.7rem;
    align-items: center;
    padding: 0;
  }

  .card-content {
    margin-left: 1rem;
  }

  /*------------*/
  /*--side-bar--*/
  /*------------*/

  .left-bar {
    display: block;
    position: relative;
  }

  .link-list {
    list-style: none;
    /*padding: 0;*/
    /*margin: 0;*/
    width: 100%;
    background-color: var(--clr-bg);
  }

  .box-white {
    border: 0.1rem solid var(--clr-border-gray);
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 0.7rem;
    background-color: white;
  }

  a {
    text-decoration: none;
  }

  .colored {
    align-items: center;
    border: none;
    background-color: var(--clr-small-box);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
  }

  .colored:hover {
    cursor: pointer;
    background-color: var(--clr-small-box-hover);
  }

  .big-card {
    display: grid;
    grid-template-areas:
      "small-card-pesos graphic"
      "small-card-usd graphic";
  }

  /*--cotizaciones--*/

  .cotizaciones {
    grid-column: 2 / -1;
    display: grid;
    grid-template-areas:
      "cotizaciones cotizaciones"
      "D-Oficial    D-Blue      "
      "D-Oficial    D-Liqui     "
      "D-Oficial    D-Bolsa     "
      "D-Oficial    D-Turista   ";
    gap: 1rem;
    width: 100%;
    /*align-items: center;*/
    justify-items: center;
  }

  /*--cotizaciones areas--*/

  .head-cotizaciones {
    grid-area: cotizaciones;
    margin: 0 0 2rem 0;
  }

  .div-0 {
    grid-area: D-Oficial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-top: 2px solid blue;
    box-shadow: 0px 0px 7px 1px grey;
    width: 100%;
  }

  .div-0 .dolar-nombre {
    grid-column: 1 / -1;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    align-self: center;
  }

  .div-0 .dolar-compra,
  .div-0 .dolar-venta {
    text-align: center;
  }

  .div-0 .dolar-compra span,
  .div-0 .dolar-venta span {
    font-size: 3rem;
  }

  .div-1 {
    grid-area: D-Blue;
  }
  .div-2 {
    grid-area: D-Liqui;
  }
  .div-3 {
    grid-area: D-Bolsa;
  }
  .div-4 {
    grid-area: D-Turista;
  }

  .cotizaciones .dolar-div:nth-child(n+3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: start;
    width: 100%;

    border-top: 2px solid blue;
    box-shadow: 0px 0px 7px 1px grey;
  }

  .cotizaciones .dolar-div:nth-child(n+3) .dolar-compra span, .dolar-venta span {
    font-size: 2.3rem;
  }

  .cotizaciones .dolar-div:nth-child(n+3) .dolar-nombre {
    font-size: 1.9rem;
    font-weight: 800;
    margin: auto auto auto 2rem;
    position: relative;
    inset: 0;
  }

  footer{
    display: grid;
    grid-template-columns: 20rem 1fr;
    padding: 2rem;
  }

  .social-networks ul li i{
    margin: 0;
  }

  .rights {
    text-align: end;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
}

/* ----------------------- AGREGADO ----------------------- */
.a:selected, .colored:selected{
  background-color: var(--clr-small-box-hover);  
}

.section-info{
  align-items: center;
  min-width: 100%;
  margin: 0 auto;
}

.personal-info {
  background-color: white;
  border-radius: 1rem;
}

.user-display-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-color);
  padding: 1rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.user-display-info h1 {
  color: white;
  font-weight: 500;
  padding-left: 1rem;
}

.subtitle-info {
  padding: 1rem 1rem;
  margin: 1rem 2rem;

}

.title-info {
  font-size: 1.7rem;
  font-weight: 700;
}

.below-entry {
  color: rgb(36, 35, 35);
  font-size: small;
}

input {
  font-size: 0.875em;
  width: 420px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  margin-top: 5px;
  margin: 0 auto;
  
  background: transparent;
  outline: none;
  color: #181818;
  mask-type: none;

  border: none;
  border-bottom: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/* AGREGADO 12/8 */

.collapsible {
  overflow: hidden;
  font-weight: 400;
}

.collapsible input{
  display: none;
}

.collapsible label{
  position: relative;
  font-weight: 600;
  background-color: #fff;
  color: #0016ff;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.collapsible input:checked + label:after {
  transform: rotate(90deg);
}

.collapsible label:after {
  content: "";
  position: absolute;
  right: 13px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: url(icon-right-arrow.svg) no-repeat 0 0;
  transition: all 0.3 ease;
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3 ease;
  }

.collapsible input:checked ~ .collapsible-text{
  max-height: 300px;
  padding-bottom: 25px;
  background: #fff;
  opacity: 1;
  top: 0;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
}

.collapsible-text p{
  padding-left: 15px;
  padding-right: 15px;
}