* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-image: url('fondo_tarjetas.jpg');
    background-position: 25% 75%;
    background-size: cover;
}

header {
    display: inline-flex;
    width: 100%;
    align-items: center;
    height: 50px;
    background: linear-gradient(-10deg,rgb(45, 98, 150)  25%,rgb(48, 70, 151));
}

.imagen{
    margin-left: 2.5rem;
}

.imagen img{
    width: 30%;
    height: 75%;
}

.form-login {
    width: 23rem;
    height: 25rem;
    background: linear-gradient(-10deg,rgb(45, 98, 150)  25%,rgb(48, 70, 151));
    margin: 2.3rem auto 1.5625rem auto;
    padding: 0.9375rem;
    box-shadow: 5px 5px 15px 1px #343434;
    color: white;
    border-radius: 1rem;
}

.form-login h2 {
    margin: 1.5% 0.5%;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    height: 50px;
    font-size: 1.375rem;
}

.controls {
    width: 100%;
    height: auto;
    margin: 1.5% 0.5%;
    border: 1px transparent;
    padding: 10px;
    font-size: 0.875rem;
    border-radius: 10px;
}

.buttons {
    width: 100%;
    height: 40px;
    margin: 3% 0.5%;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 0;
    font-size: 0.875rem;
    text-align: center;
    background-color: rgb(255, 255, 255);                                    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
    
.buttons:hover {
    background-color: rgb(242, 242, 242);
}
    
.buttons:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form-check-label {
    font-size: 0.875rem;
}

.form-login .recuperar {
    height: 40px;
    text-align: center;
    border-bottom: 1px;
    margin: 1.8% 0.5%;
    padding: 10px;
}

.form-login .a1 {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login .a1:hover {
    text-decoration: underline;
}

.form-login .registro {
    height: 40px;
    text-align: center;
    border-bottom: 1px;
    margin: 1% 0.5%;
    padding: 10px;
}

.form-login .a2 {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login .a2:hover {
    text-decoration: underline;
}

footer {
    margin: 2.5rem auto 1.4rem auto;
    padding: 2px 15%;
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

a:link /*cuando no fue seleccionado*/ {
    color: rgb(26, 26, 26);
}

a:visited /*links visitados*/ {
    color: rgb(26, 26, 26);
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}

/* ----estilos de validaciones---- */
.grupo__usuario,
.grupo__contraseña{
    position: relative;
}

.icon  {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
}

.error-border {
    border: 0.125rem solid red;
}

.correcto-border {
    border: 0.125rem solid green;
}

.correcto .icon {
    color: green;
}

.incorrecto .icon {
    color: red;
}

@media screen and (max-width: 375px) {
    .form-login{
        width: 90%;
        box-shadow: 4px 4px 10px 1px #343434;
    }

    .form-login h2{
        margin-bottom: 1rem;
    }
}