* {
    background-color: #4577ac;
    text-decoration: none;
}
footer {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 65%;
}

a:link /*cuando no fue seleccionado*/ {
    color: white;
}

a:visited /*liks visitados*/ {
    color: rgb(201, 196, 196);
}

a:hover {
    color: rgb(0, 0, 0);
}

a:active {
    color: red;
}