* {
    text-decoration: none;
}
footer {
    width: 100%;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 65%;
}

a:link /*cuando no fue seleccionado*/ {
    color: black;
}

a:visited /*liks visitados*/ {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}