* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: rgb(241, 240, 253);
}

header {
    margin: 2.5px;
    padding: 10px;
    width: 100%;
    height: auto;
    background: /*#304697*/ linear-gradient(-10deg, rgb(48, 70, 151) 25%,rgb(142, 115, 178));
}

header img {
    margin: 1.5%;
    margin-left: 5%;
    /* padding: 1%; */
    width: 20%;
    height: 100%;
    /* background-color: white; */
}

.form-login {
    width: 23rem;
    height: 25rem;
    background: /*#304697*/ linear-gradient(-10deg, rgb(48, 70, 151) 25%,rgb(142, 115, 178));
    margin: 1.5625rem auto;
    padding: 0.9375rem;
    box-shadow: 5px 5px 15px 1px #343434;
    color: white;
    border-radius: 1rem;
}

.form-login h2 {
    margin: 1.5% 0.5%;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    height: 50px;
    /* margin-bottom: 30px; */
    /* border-bottom: 1px solid; */
    font-size: 1.375rem;
}

.controls {
    width: 100%;
    height: auto;
    margin: 1.5% 0.5%;
    border: 1px transparent;
    padding: 10px;
    /* background: white; */
    font-size: 0.875rem;
    border-radius: 10px;
    /* font-weight: bold; */
}

.buttons {
    width: 100%;
    height: auto;
    margin: 1.8% 0.5%;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 0;
    font-size: 0.875rem;
    text-align: center;
    background-color: rgb(255, 255, 255);                                    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
    
.buttons:hover {
    background-color: rgb(230, 227, 255);
}
    
.buttons:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form-login .recuperar {
    height: 40px;
    text-align: center;
    border-bottom: 1px;
}

.form-login .a1 {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login .a1:hover {
    text-decoration: underline;
}

.form-login .registro {
    height: 40px;
    text-align: center;
    border-bottom: 1px;
}

.form-login .a2 {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login .a2:hover {
    text-decoration: underline;
}

footer {
    margin: 25px auto;
    padding: 2px 15%;
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
}

footer p {
    margin: 0.4rem;
}

footer a {
    text-decoration: none;
}

a:link /*cuando no fue seleccionado*/ {
    color: black;
}

a:visited /*liks visitados*/ {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}