{% extends base-home.html %}

{% block section %}
<section class="section-grid">
    <div class="big-card">
        <div class="card-grid">
            <div class="floating-card">
                <p>**** 6969</p>
                <p>PayPal</p>
                <div class="balls"></div>
            </div>
            <div class="under-card">
                <div class="balance">
                    <p class="grey-text">BALANCE</p>
                    <span>$4,904.91 USD</span>
                </div>
                <div class="received">
                    <p class="grey-text">Received</p>
                    <span>+1392$</span>
                    <div class="bar blue-bar"></div>
                </div>
                <div class="spent">
                    <p class="grey-text">Spent</p>
                    <span>-980$</span>
                    <div class="bar red-bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="small-card">
        <i class="fa-solid fa-money-bill-transfer icon-cards"></i>
        <div class="card-content">
            <h2>Transferencias</h2>
            <p>Envia dinero por transferencia de forma instantanea.</p>
        </div>
    </div>
    <div class="small-card">
        <i class="fa-solid fa-money-bill-trend-up icon-cards"></i>
        <div class="card-content">
            <h2>Inversiones</h2>
            <p>Obtiene el mejor rendimiento de tus activos.</p>
        </div>
    </div>
    <div class="small-card">
        <i class="fa-solid fa-list icon-cards"></i>
        <div class="card-content">
            <h2>Movimientos</h2>
            <p>Revisa los ultimos movimientos de tu cuenta.</p>
        </div>
    </div>
    <div class="small-card">
        <i class="fa-solid fa-gift icon-cards"></i>
        <div class="card-content">
            <h2>Puntos ITBANK</h2>
            <p>Canjea tus puntos por diferentes premios.</p>
        </div>
    </div>
    <div class="small-card">
        <i class="fa-solid fa-receipt icon-cards"></i>
        <div class="card-content">
            <h2>Pago de servicios</h2>
            <p>Paga todos los servicios de la manera mas comoda.</p>
        </div>
    </div>
    <div class="small-card">
        <i class="fa-solid fa-handshake icon-cards"></i>
        <div class="card-content">
            <h2>Prestamos</h2>
            <p>Pedi tus prestamos con el mejor interes.</p>
        </div>
    </div>
</section>
<section class="cotizaciones">
    <h2 class="head-cotizaciones"> Cotizaciones </h2>
</section>
{% endblock %}