{% extends "bank/base_home.html" %}

{% block section %}
<section class="section-info">
    <div class="personal-info">
      <div class="user-display-info">
          <h1>Ayuda</h1>
      </div>
      <div class="subtitle-info">
          <p class="title-info">Preguntas frecuentes</p>
          
          <div class="collapsible">
            <input type="checkbox" id="collapsible3">
            <label for="collapsible3">¿Cómo obtengo mi clave de Home Banking?</label>
            <div class="collapsible-text">
              <p>Obtené tu clave de Home Banking de forma fácil en cualquier cajero automático ITBANK. </p>
            </div>
          </div>
          
          <div class="collapsible">
            <input type="checkbox" id="collapsible4">
            <label for="collapsible4">Me olvidé el usuario o clave de acceso de Home Banking</label>
            <div class="collapsible-text">
              <p>Para generar un nuevo usuario o clave de acceso vaya a Seguridad.</p>
            </div>
          </div>

          <div class="collapsible">
            <input type="checkbox" id="collapsible1">
            <label for="collapsible1">¿Cómo obtengo una nueva tarjeta?</label>
            <div class="collapsible-text">
              <p>Solicitá tu Tarjeta de forma personal en la Sucursal del Banco ITBANK más cercana o bien comuníquese por correo.</p>
            </div>
          </div>
  
          <div class="collapsible">
            <input type="checkbox" id="collapsible2">
            <label for="collapsible2">Me robaron o perdí mi Tarjeta</label>
            <div class="collapsible-text">
              <p>En caso de robo, hurto o extravío, realizá tu denuncia a la mayor brevedad al 0800-888-8888 para el bloqueo inmediato de tu Tarjeta.</p>
            </div>
          </div>

        </div>
  </div>
</section>
{% endblock section %}