{% extends "bank/base_home.html" %}

{% block section %}
<section class="section-info">
    <div class="user-display-info section-cards">
        <h1>Tus tarjetas</h1>
    </div>
    <div class="cards-container"> 
        {% if cards %}
            {% for card in cards %}
                <div class="floating-card">
                    <p class="bank">ITBANK</p>
                    <p class="card-type">{{card.card_type}}</p>
                    <p class="card-num">{{card.card_number}}</p>
                    <p class="card-exp">{{card.card_expiration_date}}</p>
                    <p class="card-own">{{user.get_full_name}}</p>
                    <p class="card-brand">{{card.brand.card_brand}}</p>
                </div>
            {% endfor %}
        {% else %}
            <h2>Todavia no tenes tarjetas agregadas</h2>
        {% endif %}
    </div>
</section>
{% endblock section %}
