{% extends "bank/base_home.html" %}

{% block section %}
<section class="section-info">
    <div class="user-display-info section-cards">
        <h1>Tus tarjetas</h1>
    </div>
    <div class="cards-container">
        <div class="card-grid">
            <div class="floating-card">
                <p class="bank">ITBANK</p>
                <p class="card-type">Credito</p>
                <p class="card-num">471 63514 36412 565</p>
                <p class="card-exp">Mar 2020</p>
                <p class="card-own">Nanin Nanete</p>
                <p class="card-brand">American Express</p>
            </div>
            <h2>Todavia no tenes tarjetas agregadas</h2>
        </div>
    </div>
</section>
{% endblock section %}
