

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
}

input {
  padding: 1.2rem;
  border: 0.2rem solid black;
  border-radius: 0.8rem;
  margin-bottom: 1.3rem;
}

button {
  padding: 1.2rem;
}

.list {
  max-width: 60%;
}

ul {
  padding: 0;
  list-style: none;
}

.items-container {
  display: grid;
  grid-template-columns: 12rem 32rem 8rem;
  border: 0.2rem solid black;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.nombre-monto {
  margin: 0 auto;
}

.descripcion, .icons-container{
  border-left: 0.2rem solid black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
