html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
  
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "roboto", sans-serif;
}

header {
  text-align: center;
  color: white;
  border: 0.2rem transparent outset;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  background: /*#304697*/ linear-gradient(-10deg,  rgb(48, 70, 151) 25%,rgb(142, 115, 178));
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

input {
  padding: 1.2rem;
  border: 0.05rem rgb(87, 87, 87) solid;
  border-radius: 0.8rem;
  margin-bottom: 1.3rem;
  margin-top: 0.5rem;
  background-color: rgb(221, 220, 232);
}

button {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  color: black;
  border-radius: 0.5rem;
  border: 0.05rem rgb(87, 87, 87) solid;
  background-color: rgb(221, 220, 232);
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6)
}

button:active {
  color: white;
  font-weight: bold;
  background: linear-gradient(-10deg,  rgb(48, 70, 151) 25%,rgb(142, 115, 178));
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 60%;
}

ul {
  padding: 0;
  list-style: none;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr 2fr 12rem;
  border: 0.15rem solid rgb(0, 0, 0);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  background-color: white;
}

.nombre-monto {
  margin: 0 auto;
}

.descripcion, .icons-container{
  border-left: 0.150rem solid rgb(0, 0, 0);
}

.nombre-monto, .descripcion, .icons-container {
  width: 100%;
}

h2 {
  font-size: x-large;
  font-weight: 500;
}


ul li i img {
  width: 60%;
  height: 60%;
  margin: 20%;  
}

ul li .descripcion p{
  margin-left: 5rem;
  text-transform: capitalize;
}

ul li .nombre-monto {
  text-align: center;
}

ul li .nombre-monto:first-child {
  text-transform: capitalize;
}

.icons-container {
  position: relative;
}

.remove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: pointer;
}

.remove:hover {
  color: #304697;
}

